
/* Reset some default margin and padding */
body,
h1,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

.bottom-sheet-rocket {
    transform: rotate(314deg);
    width: 45px;
    height: 30px;
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* Styling for the navbar */
.navbar {
    background-color: #4d4a4a0f;
    overflow: hidden;
    /* Clear floats */
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer {
    background-color: #f5f4f4;
    color: #908484;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Centered button container */
.centered-button {
    display: flex;
    justify-content: center;
    /* Horizontally center the button */
    align-items: center;
    /* Vertically center the button */
    height: calc(100vh - 50px);
}

/* Styles for the button inside the container */
.centered-button-inner {
    padding: 10px 20px;
    background-color: rgb(55, 101, 206);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-sheet-container {
    display: none;
}

/* Styling for the bottom sheet */
.bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    align-items: center;
}

.bottom-sheet-content {
    padding: 20px;
    width: 100%;
}

.bottom-sheet-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Styling for the progress bar */
.progress-bar {
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 6px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0%;
    /* Set the initial progress to 50% */
    background-color: #3765ce;
    transition: width 0.3s ease-in-out;
}

.angle-down {
    display: none;
    position: absolute;
    bottom: 10%;
    right: 0;
    background: rgb(55, 101, 206);
    width: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9;
}

.angle-up {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0;
    background: rgb(55, 101, 206);
    width: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9;
}

/* Media query for bottom sheet responsiveness */
@media screen and (max-width: 768px) {
    .bottom-sheet-content {
        padding: 10px;
    }
}

/* Media query for navbar responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .nav-list {
        flex-direction: column;
        background-color: #444;
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        transition: left 0.3s ease-in;
    }

    .nav-list.active {
        left: 0;
    }

    .nav-list li {
        width: 100%;
    }

    .nav-list li a {
        padding: 10px;
        text-align: center;
    }
}


/* Styling for the Alert Message */
.alertsuccess {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    background-color: #4CAF50;
    display: none;
    position: absolute;
    margin-top: -167px;
    width: 13%;
    right: 0px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}
